In [1]:
from Bio import SeqIO
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
import pandas as pd
from pylab import savefig
import os
#import plotly as go
import plotly.graph_objects as go

In [2]:

#from google.colab import files
def eig_val(filename):
  xlst=[ ]
  ylst=[ ]
  zlst=[ ]
  dic = {'A': (0.9511, 0.309, -1), 
         'B': (0.9511, 0.309, -1), 
         'C': (0.809, 0.5878, -1), 
         'D': (-0.9511, -0.309, 1), 
         'E': (0.309, -0.9511, 1), 
         'F': (-0.309, 0.9511, 1), 
         'G': (0.5878, -0.809, -1), 
         'H': (0.809, -0.5878, 1), 
         'I': (-0.5878, 0.809, -1), 
         'J': (-0.5878, 0.809, -1), 
         'K': (-0.809, -0.5878, 1), 
         'L': (-0.809, 0.5878, -1), 
         'M': (0.5878, 0.809, 1), 
         'N': (-0.5878, -0.809, -1), 
         'O': (-0.5878, -0.809, -1), 
         'P': (0.309, 0.9511, -1), 
         'Q': (0.9511, -0.309, 1), 
         'R': (-0.309, -0.9511, 1), 
         'S': (0.0, -1.0, -1), 
         'T': (1.0, 0.0, -1), 
         'U': (1.0, 0.0, -1), 
         'V': (0.0, 1.0, -1), 
         'W': (-0.9511, 0.309, 1), 
         'X': (-0.9511, 0.309, 1), 
         'Y': (-1.0, 0.0, 1), 
         'Z': (-1.0, 0.0, 1)
         }
  for elem in filename:
    x, y, z = dic[elem]
    xlst.append(x)
    ylst.append(y)
    zlst.append(z)
  xcom=(np.mean(xlst))
  ycom=(np.mean(ylst))
  zcom=(np.mean(zlst))
  xlst = xlst-xcom
  ylst = ylst-ycom
  zlst = zlst-zcom

  ixx=np.sum(np.square(ylst)+np.square(zlst))
  iyy=np.sum(np.square(xlst)+np.square(zlst))
  izz=np.sum(np.square(xlst)+np.square(ylst))
  ixy=np.sum(np.multiply(xlst,ylst))
  iyx=ixy
  iyz=np.sum(np.multiply(ylst,zlst))
  izy=iyz
  ixz=np.sum(np.multiply(xlst,zlst))
  izx=ixz
  from numpy.linalg import eig
  evalue,evector=eig(np.array([[ixx,-ixy,-ixz],
                           [-iyx,iyy,-iyz],
                           [-izx,-izy,izz]]))
  return(evalue)

In [3]:
dic = {}
for elem in "ABCDEFGHIJKLMNOPQRSTUVWXYZ":
    if elem == 'A':
      x=0.9511
      y=0.3090
      z=-1
    elif elem == 'C':
      x=0.8090
      y=0.5878
      z=-1
    elif elem == 'M':
      x=0.5878
      y=0.8090
      z=1
    elif elem == 'P':
      x=0.3090
      y=0.9511
      z=-1
    elif elem == 'V':
      x=0.0000
      y=1.0000
      z=-1
    elif elem == 'F':
      x=-0.3090
      y=0.9511
      z=1
    elif elem == 'I':
      x=-0.5878
      y= 0.8090
      z=-1
    elif elem == 'L':
      x=-0.8090
      y=0.5878
      z=-1
    elif elem == 'W':
      x=-0.9511
      y=0.3090
      z=1
    elif elem == 'Y':
      x=-1.0000
      y=0.0000
      z=1
    elif elem == 'D':
      x=-0.9511
      y=-0.3090
      z=1
    elif elem == 'K':
      x=-0.8090
      y=-0.5878
      z=1
    elif elem == 'N':
      x=-0.5878
      y=-0.8090
      z=-1
    elif elem == 'R':
      x=-0.3090
      y=-0.9511
      z=1
    elif elem == 'S':
      x=0.0000
      y=-1.000
      z=-1
    elif elem == 'E':
      x=0.3090
      y=-0.9511
      z=1
    elif elem == 'G':
      x=0.5878
      y=-0.8090
      z=-1
    elif elem == 'H':
      x=0.8090
      y=-0.5878
      z=1
    elif elem == 'Q':
      x=0.9511
      y=-0.3090
      z=1
    elif elem == 'T':
      x=1.000
      y=0.000
      z=-1
    dic[elem] = (x, y, z)
print(dic)

{'A': (0.9511, 0.309, -1), 'B': (0.9511, 0.309, -1), 'C': (0.809, 0.5878, -1), 'D': (-0.9511, -0.309, 1), 'E': (0.309, -0.9511, 1), 'F': (-0.309, 0.9511, 1), 'G': (0.5878, -0.809, -1), 'H': (0.809, -0.5878, 1), 'I': (-0.5878, 0.809, -1), 'J': (-0.5878, 0.809, -1), 'K': (-0.809, -0.5878, 1), 'L': (-0.809, 0.5878, -1), 'M': (0.5878, 0.809, 1), 'N': (-0.5878, -0.809, -1), 'O': (-0.5878, -0.809, -1), 'P': (0.309, 0.9511, -1), 'Q': (0.9511, -0.309, 1), 'R': (-0.309, -0.9511, 1), 'S': (0.0, -1.0, -1), 'T': (1.0, 0.0, -1), 'U': (1.0, 0.0, -1), 'V': (0.0, 1.0, -1), 'W': (-0.9511, 0.309, 1), 'X': (-0.9511, 0.309, 1), 'Y': (-1.0, 0.0, 1), 'Z': (-1.0, 0.0, 1)}

E-FETCH ALL REQUIRED GENES AND EXTRACT  EXPERIMENTAL AND PREDICTED PROTEIN SEQUENCES

In [4]:
# GENE ID 
cep = pd.read_csv('/home/haris/Downloads/fretrieve.csv')
pre = np.array(cep.iloc[:,[1]]).flatten()# Extract Predicted gene id
pre = list(pre[:2711])# 2711 is the final row element of Predicted gene id
exp = np.array(cep.iloc[:,[-1]]).flatten()# Extract Experimental gene id
exp = list(exp[:166]) # 166 is the final row element of Experimental gene id
print(pre[-1])
print(exp[-1])
#Data Correction
#os.path.abspath("Downloads/fretrieve.csv")

O43149
Q9Y2Q1

In [5]:
from Bio import Entrez
from Bio import SeqIO
Entrez.email ='19phmp03@uohyd.ac.in'
#genome_lst2 = ['NP_899200.1','NP_001617.1','NP_000034.1','NP_001665.1','NP_001672.1','NP_005164.2','NP_000624.2','NP_612815.1','NP_001704.2','NP_004324.2','NP_000055.2','NP_004337.2','NP_001358980.1','NP_000062.1','NP_001750.1','NP_001310494.1','NP_001867.2','NP_000092.2','NP_000752.2','NP_001388.1','NP_001946.3','NP_001948.1','NP_001116131.1','NP_005219.2','NP_849180.1','NP_001353039.1','NP_002702.2','NP_001617.1','NP_000153.1','NP_005535.1','NP_000516.3','NP_001293108.2','NP_002491.3','NP_001033.1','NP_000449.1','NP_899200.1','NP_075571.2','NP_665906.1','NP_000198.1','NP_000199.2','NP_000200.1','NP_006199.2','NP_619725.3','NP_060244.2','NP_000331.1','NP_001274103.1','NP_001139746.1','NP_000651.3','NP_005996.2']
def retrieve(filename):
  handle = Entrez.efetch(db='protein',id =filename,rettype='fasta',retmode='text')
  record=SeqIO.parse(handle,'fasta')
  records = [i for i in record]
  lst1=[ ]
  print(records[-1].description)
  for elem in range (0,len(records)):
    lst1.append(eig_val(records[elem].seq))
  return lst1
#print(records[elem].name)
#output = 'address where u wish to save'
#SeqIO.write(record,output,'fasta')

Database function to compute the Euclidean Distance, then building a Distance matrix between Experimentally verified PSs AND Candidate PSs

In [6]:
def database(filename): #For a Single file to obtain a square matrix
  lst2= np.array([ ])
  lst1 = retrieve(filename)
  for elem in lst1:
    for elem1 in lst1:
      lst2= np.append(lst2,np.linalg.norm(elem-elem1))
  lst2 = lst2.reshape(len(lst1),len(lst1))   
  return pd.DataFrame(lst2) #(,index= ,columns=)

In [7]:
def database1(file1,file2):#file1 = exp, file2 = pre
  lst2= np.array([ ])
  lst1 = retrieve(file1)
  lst = retrieve(file2)
  for elem in lst1:
    for elem1 in lst:
      lst2= np.append(lst2,np.linalg.norm(elem-elem1))
  lst2 = lst2.reshape(len(lst1),len(lst))   
  df = pd.DataFrame(lst2)
  df.columns = pre
  df.rows = exp
  return df #(,index= ,columns=)
y = database1(exp,pre)
y

sp|Q9Y2Q1.2|ZN257_HUMAN RecName: Full=Zinc finger protein 257; AltName: Full=Bone marrow zinc finger 4; Short=BMZF-4
sp|O43149.6|ZZEF1_HUMAN RecName: Full=Zinc finger ZZ-type and EF-hand domain-containing protein 1

/tmp/ipykernel_9632/1957786336.py:11: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.rows = exp

,Q9NRG9,Q16613,O95477,P78363,P08183,Q9NRK6,Q9NP58,Q9NP78,Q96J66,Q92887,...,Q9H9D4,Q86VK4,Q96JG9,Q8N8E2,Q96BV0,O75312,Q5FWF4,P17040,Q96MP5,O43149
0,2406.126716,3130.636453,2288.571438,1630.527721,1397.460177,2169.018468,1693.502521,1877.500307,459.792257,90.948615,...,2254.727472,2534.010582,5619.150866,2550.446533,2567.846288,2680.771312,1709.518430,1772.855163,2223.362848,3948.874327
1,3439.099014,4070.301238,748.011533,2160.158587,1552.877034,2867.086937,2868.375225,2996.350204,2056.716888,1900.633793,...,2842.267097,3533.629400,4210.964396,3280.941295,3266.273119,3428.187977,1970.102234,2081.827244,2866.499373,2468.078314
2,1845.684037,2468.055732,2312.651866,2772.727705,66.268749,1267.342379,1346.632434,1441.942709,1166.095366,1352.577476,...,1256.459183,1935.257038,5811.085382,1685.414786,1674.451866,1833.423756,430.452211,528.816894,1273.594377,4036.635614
3,714.322854,222.319896,4650.430308,4721.539581,2390.762624,1072.011373,1411.422595,1225.998047,2634.872256,3011.718376,...,1108.315432,583.887828,8146.219589,655.347911,680.783190,517.566576,1988.265570,1875.191412,1081.110077,6357.383469
4,498.366419,740.211091,4069.191726,4218.727541,1809.743721,494.076271,993.684478,823.862130,2151.275157,2520.714188,...,535.775456,445.900027,7563.133139,72.154664,138.793629,119.609836,1410.091163,1297.186331,509.255913,5777.754192
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,431.589938,295.369219,4509.799579,4466.168799,2260.721894,965.228610,1143.312051,959.801973,2377.433773,2755.921318,...,1049.257374,304.109284,8016.238365,616.175492,664.327910,519.222638,1888.959662,1780.607438,1001.400426,6231.999746
162,1063.880967,1634.993376,3152.317163,3429.965986,893.015189,429.674652,809.758818,803.846227,1470.215455,1797.999496,...,443.761891,1132.555016,6647.764865,845.661435,840.618610,997.785548,535.416864,434.962842,455.219563,4870.432859
163,479.286684,746.860738,4055.902445,4198.064305,1796.355894,479.439584,969.985950,800.001996,2129.516560,2499.291188,...,524.502962,431.973732,7551.086277,65.013787,133.920635,125.069303,1397.134764,1284.478392,494.843129,5764.557723
164,761.153389,222.141545,4694.485808,4770.246234,2434.986979,1116.940118,1459.539511,1274.073109,2683.461799,3060.300166,...,1147.007369,631.640112,8189.390628,698.157462,718.812449,555.648174,2028.285110,1915.000718,1121.152017,6397.956977
165,587.808023,925.797154,3898.775058,4093.128718,1643.237945,356.964730,939.602138,788.306143,2041.790803,2405.136530,...,341.194845,577.771870,7390.289304,150.285046,88.830056,250.875478,1223.016442,1109.447367,319.531166,5593.031909

In [8]:
# Read data from a csv
z_data = y
fig = go.Figure(data=[go.Surface(z=z_data.values)])
fig.update_layout(title='Distance Matrix', autosize=False,
                  width=1000, height=1000,
                  margin=dict(l=65, r=50, b=65, t=90))

#fig.show()
fig.savefig("output.jpg")

AttributeError: 'Figure' object has no attribute 'savefig'

In [ ]:
import os

if not os.path.exists("images"):
    os.mkdir("images")fig.write_image("images/fig1.png")

In [ ]:
#y.to_csv('dist_matrixT2DM.csv')
#files.download('dist_matrixT2DM.csv') 
x = np.array(y.iloc[:,[1410]])
x

In [9]:
#Row Elimination
df = y
y.to_numpy().max()
#df2 = df.drop(df.columns[[0, 4, 2]], axis=1, inplace=True)
#print(df.to_numpy().max())
x = np.array(df.iloc[:,:])
#x = np.array(df.iloc[[162],:])
row_index = np.where(x == x.max())
print(row_index)
x.tolist()
print(x.max())
x.sort()
np.array(df.iloc[row_index[0]])

(array([144]), array([1396]))
10685.73912703089

array([[1063.29956752,  339.00727719, 5082.01770555, ..., 2306.07741041,
        1511.10078629, 6787.51131004]])

In [10]:
#Column Elimination
df = y
#df2 = df.drop(df.columns[[2583]], axis=1, inplace=True) #157,731,1330,1415,1572,1778,2119,2414,
#print(df.to_numpy().max())
m = 1396
print(np.array(df.iloc[:10,m]))
print(np.array(df.iloc[:,m]).max())
#print(y.to_numpy().max())
#print(df.to_numpy().max())


print(df.columns[m])

[ 7638.83613731  6318.43903183  7915.53070775 10253.02178288
  9670.39013121 10404.96805406 10387.76877954  8442.68883743
  8554.33448135  7891.74959095]
10685.73912703089
P98164

In [11]:
df = y
df.to_numpy()
df = np.sort(df)
np.flip(df)

array([[9.49649292e+03, 9.25761771e+03, 9.23645511e+03, ...,
        2.14676331e+01, 2.13463106e+01, 1.56991908e+01],
       [1.02962621e+04, 1.00553650e+04, 1.00364303e+04, ...,
        9.36353001e+00, 8.65310318e+00, 8.18300599e+00],
       [9.65781680e+03, 9.41663712e+03, 9.39809666e+03, ...,
        1.21899180e+01, 1.18196897e+01, 8.79911833e+00],
       ...,
       [7.91553071e+03, 7.67399461e+03, 7.65677091e+03, ...,
        4.83644543e+01, 2.67192535e+01, 2.19367586e+01],
       [6.31843903e+03, 6.07954731e+03, 6.05778643e+03, ...,
        8.45109006e+01, 8.07095662e+01, 4.59055847e+01],
       [7.63883614e+03, 7.40377552e+03, 7.37805811e+03, ...,
        9.09486151e+01, 4.48553606e+01, 1.62878745e+01]])

Transforming a Distance Matrix to a binary matrix

In [12]:
df = y # y is the original Distance Matrix
max_val  = int(df.to_numpy().max() - df.to_numpy().min()) # difference between max. dist and Min dist = thresold_dist
#max_val  = 5000
thresold = 0.01*max_val
df1 = df.where(df <= thresold,0)# entries whose val is less the thresold will survive, 0 otherwise
df2 = df1.where(df > thresold,1)# entries whose val is more than the thresold will survive, 1 otherwise

df2 #Binary Matrix

,Q9NRG9,Q16613,O95477,P78363,P08183,Q9NRK6,Q9NP58,Q9NP78,Q96J66,Q92887,...,Q9H9D4,Q86VK4,Q96JG9,Q8N8E2,Q96BV0,O75312,Q5FWF4,P17040,Q96MP5,O43149
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
161,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
163,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
164,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
165,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

# selecting the thresold frequency(9 in this case) to sort the Candidates Genes

In [13]:
freq_dist = pd.DataFrame(df2.sum())
freq_dist.columns = ['Frequency']
Thresold_val = 14 # Sequences whose Frequency is less than the thresold_value shall be removed
filtered = freq_dist[freq_dist['Frequency'] >= Thresold_val]
filtered = filtered.sort_values(by=['Frequency'])
filtered

        Frequency
Q9Y6Y9       14.0
P06748       14.0
P35462       14.0
P23515       14.0
O94907       14.0
...           ...
Q9BXG8       19.0
Q9Y2T4       19.0
Q96HH9       19.0
Q9UJM3       20.0
Q92481       20.0

[523 rows x 1 columns]

Sorting and Prioritization

In [14]:
freq_dist = pd.DataFrame(df2.sum())
freq_dist.columns = ['Frequency']
Thresold_val = 14 # Sequences whose Frequency is less than the thresold_value shall be removed
filtered = freq_dist[freq_dist['Frequency'] >= Thresold_val]
filtered.sort_values(by=['Frequency'])


#Prioritizing same frequency genes
for i in range(Thresold_val,int(df2.sum().max())+1):
    same_freq_lst = []
    row_index = np.where(filtered == i)
    for j in range(len(row_index[0])):
        same_freq_lst.append(filtered.iloc[row_index[0][j]].name)
    #print(same_freq_lst)
    df3 = pd.DataFrame(df,columns=same_freq_lst)
    df4 = df3.where(df3 <= thresold,0)# entries whose val is less the thresold will survive, 0 otherwise
    df4 = df4/thresold # transforming
    freq_dist = pd.DataFrame(df4.sum())
    #freq_dist
    freq_dist.columns = ['Frequency']
    freq_dist.sort_values('0',ascending = True)
    print(freq_dist)    
# saving the dataframe
#filtered.to_csv('file1.csv')
  #print(same_freq_lst)

KeyError: '0'

CONSTRUCTING A PHYLOGENETIC TREE

In [ ]:
from scipy.cluster.hierarchy import dendrogram, linkage
from scipy.spatial.distance import squareform
import plotly.figure_factory as ff
import plotly.express as px
lab = list(range(0,49))
linkage_matrix = linkage(x, "single")
dendrogram(linkage_matrix)
plt.title('dendrogram')
plt.rcParams['figure.figsize']=(15,15)
plt.show()